BERITA_AUTO_URL=https://berita-auto.vercel.app
INSTAGRAM_USERNAME=berita.auto
CHROME_PROFILE_NAME=projectdaaw
CHROME_USER_DATA_DIR=
CHROME_PROFILE_DIRECTORY=
CHROME_REMOTE_DEBUGGING_URL=
HEADLESS=false
DRY_RUN=true
STORY_WIDTH=1080
STORY_HEIGHT=1920
